<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexsoft.fizionova.repository.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.lexsoft.fizionova.repository.model.Employee">
        <result column="employee_id" property="idEmployee"/>
        <result column="user_name" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="lastaname" property="lastname"/>
        <result column="middlename" property="middlename"/>
        <result column="personal_id" property="personalId"/>
        <result column="email" property="email"/>
        <result column="adress_id" property="adressId"/>
        <result column="is_admin" property="admin"/>
        <result column="verify_therapy" property="verifyTherapy"/>
        <result column="create_doc" property="createDoc"/>
        <result column="view_doc" property="viewDoc"/>
        <result column="phone_1" property="phone1"/>
        <result column="phone_2" property="phone2"/>
        <result column="path_to_employee_image" property="pathToEmployeeImage"/>
        <result column="is_foreigner" property="isForeigner"/>
        <result column="role_name" property="roleName"/>
        <result column="job_title" property="jobTitle"/>
    </resultMap>

    <select id="findAllEmployee" resultMap="BaseResultMap">
        SELECT * from Employee ;
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        SELECT employee_id, password, user_name, name, lastname, middlename, personal_id, email, adress_id, is_admin,
        verify_therapy, create_doc, view_doc, phone_1, phone_2, role_name, job_title FROM Employee
        <where>
            <choose>
                <when test="personalId != null">
                    personal_id = #{personalId}
                </when>
                <otherwise>
                    <if test="username != null">user_name = #{username}</if>
                    <if test="password != null">and password=#{password}</if>
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * from Employee where employee_id=#{idEmployee};
    </select>

    <insert id="insert" parameterType="com.lexsoft.fizionova.repository.model.Employee">
        INSERT INTO Employee(user_name, password, name, lastname, middlename, personal_id, email, adress_id, is_admin,
        verify_therapy, create_doc, view_doc, phone_1, phone_2, path_to_employee_image, is_foreigner,role_name, job_title) VALUES
        (#{username},
        #{password}, #{name},#{lastname},#{middlename},#{personalId}, #{email},
        #{adressId},#{isAdmin},#{verifyTherapy},#{createDoc},#{viewDoc}, #{phone1}, #{phone2},
        #{pathToEmployeeImage}, #{isForeigner},#{roleName}, #{jobTitle})
        <selectKey keyProperty="idEmployee" resultType="int" order="AFTER">
            SELECT MAX(employee_id) from Employee as idEmployee;
        </selectKey>
    </insert>

    <update id="update">
            UPDATE Employee SET  password=#{password},
            email=#{email}, adress_Id=#{adressId}, is_admin=#{isAdmin},
            verify_therapy=#{verifyTherapy}, create_doc=#{createDoc}, view_doc=#{viewDoc}, phone_1=#{phone1},
            phone_2=#{phone2}, path_to_employee_image=#{pathToEmployeeImage}, is_foreigner=#{isForeigner}, job_title=#{jobTitle}, role_name=#{roleName}
            WHERE employee_id =#{idEmployee}
    </update>
</mapper>
