<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexsoft.fizionova.repository.mapper.EnumDiagnoseTypeMapper">

    <resultMap id="enumDiagnoseResultMap" type="com.lexsoft.fizionova.repository.model.EnumDiagnoseType">
        <result column="enum_diagnose_type_id" property="enumDiagnoseTypeId"/>
        <result column="diagnose_name" property="diagnoseName"/>
    </resultMap>

    <select id="findEnumDiagnoseTypeByParam" resultMap="enumDiagnoseResultMap">
        SELECT * FROM Enum_Diagnose_Type
        <if test="enumDiagnoseTypeId != null or diagnoseName != null">
            <where>
                <if test="enumDiagnoseTypeId != null">enum_diagnose_type_id =#{enumDiagnoseTypeId}</if>
                <if test="diagnoseName != null">and diagnose_name =#{diagnoseName}</if>
            </where>
        </if>
    </select>

    <insert id="insert">
       INSERT INTO Enum_Diagnose_Type(diagnose_name) VALUES(#{diagnoseName})
       </insert>

    <update id="update">
       UPDATE Enum_Diagnose_Type SET
             diagnose_name=#{diagnoseName}
             WHERE enum_diagnose_type_id =#{enumDiagnoseTypeId};
    </update>
    <insert id="delete">
        DELETE FROM Enum_Diagnose_Type WHERE enum_diagnose_type_id =#{enumDiagnoseTypeId}
    </insert>

</mapper>
