<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexsoft.fizionova.repository.mapper.TherapyMapper">

    <resultMap id="therapyResultMap" type="com.lexsoft.fizionova.repository.model.Therapy">
        <result column="therapy_id" property="idTherapy"/>
        <result column="document_id" property="documentId"/>
        <result column="start_therapy_time" property="startTherapyTime"/>
        <result column="create_employee_id" property="createEmployeeId"/>
        <result column="verified_employee_id" property="verifiedEmployeeId"/>
        <result column="therapy_type_ids" property="therapyTypeIds"/>
        <result column="patient_id" property="idPatient"/>
        <result column="is_verified" property="isVerified"/>
        <result column="date_create" property="dateCreate"/>
    </resultMap>

    <resultMap id="therapyComplexResultMap" type="com.lexsoft.fizionova.repository.model.complexmodel.TherapyComplex">
        <result column="therapy_id" property="idTherapy"/>
        <result column="start_therapy_time" property="startTherapyTime"/>
        <result column="patient_id" property="idPatient"/>
        <result column="name" property="name"/>
        <result column="lastname" property="lastname"/>
        <result column="phone_1" property="phone1"/>
     </resultMap>


    <select id="findTherapyById" resultMap="therapyResultMap">
        SELECT * FROM Therapy
        where therapy_id = #{idTherapy};
    </select>

    <select id="findLastNotVerifiedTherapy" resultMap="therapyResultMap">
        select * from Therapy where document_id=#{documentId} and is_verified=false and ordinal_num = (SELECT MIN(ordinal_num) FROM Therapy where is_verified=false and document_id=#{documentId});
    </select>


    <insert id="insert">
           INSERT INTO Therapy(document_id,start_therapy_time, create_employee_id,verified_employee_id, therapy_type_ids, patient_id, is_verified) VALUES(#{documentId},#{startTherapyTime},
            #{createEmployeeId}, #{verifiedEmployeeId}, #{therapyTypeIds} , #{idPatient}, FALSE );
           </insert>

    <update id="update">
           UPDATE Therapy SET
                 start_therapy_time=#{startTherapyTime}, verified_employee_id =#{verifiedEmployeeId}, therapy_type_ids = #{therapyTypeIds}, patient_id=#{idPatient}, is_verified=#{isVerified}
                 WHERE therapy_id =#{idTherapy};
        </update>
    <select id="findTherapyByParams" resultMap="therapyResultMap">
        SELECT * from Therapy
         where document_id = #{documentId};

    </select>


    <select id="findTherapyByDate" resultMap="therapyComplexResultMap">
        SELECT  t.therapy_id, t.start_therapy_time, p.name, p.lastname, p.phone_1, t.patient_id
        from Therapy t, Patient p
        where t.patient_id = p.patient_id and start_therapy_time
        BETWEEN #{dateFrom,jdbcType=DATE} and #{dateTo,jdbcType=DATE}
    </select>

    <delete id="deleteTherapy">
        DELETE FROM Therapy WHERE therapy_id = #{therapyId}
    </delete>

    <select id="findTherapiesByPatientId" resultMap="therapyResultMap">
        SELECT t.therapy_id AS idTherapy,
        t.start_therapy_time AS startTherapyTime,
        t.patient_id AS idPatient,
        FROM Therapy t  WHERE p.patient_id = #{idPatient}
       </select>

    <select id="findLastInsertedIdTherapy" resultMap="therapyResultMap">
         select therapy_id from Therapy where date_create=(Select max(date_create) from Therapy where patient_id=#{idPatient});

    </select>

    <delete id="deleteTherapyByDocumentId">
         DELETE FROM Therapy WHERE document_id = #{documentId}
    </delete>
</mapper>
